{{ define "main" }}

<div class="d-flex justify-between mt-6">
	<div>
		<h1 class="text-3xl sm:text-4xl lg:text-5xl xl:text-6xl font-black">Arvid Singh</h1>
		<p class="text-gray-500 text-lg mt-1">Delhi based software engineer</p>
		<div class="mt-1 flex space-x-2 text-sm">
			<a target="_blank" href="https://github.com/heyarviind">Github</a>
			<a target="_blank" href="https://dribbble.com/heyarviind">Dribbble</a>
			<a target="_blank" href="https://twitter.com/heyarviind">Twitter</a>
		</div>
	</div>
</div>

<div class="mt-10">
	<h2>Posts</h2>
</div>

<div class="mt-10">
	<h2>Projects</h2>
	<p>I love to develop new products as side projects, few have generated good revenue and few got acquired. But I love to build, learn and solve problems</p>
	<a href="/projects">Checkout my projects →</a>
</div>

{{ end }}